input [type="file"] {
    margin: 0 0 15px;
    padding: 10px 1%;
    border-radius: 3px;
}

.barra {
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .2);
    height: 25px;
    margin-bottom: 15px;
}

.cancel {
    background: #ed1f3c !important;
}

.barra_azul {
    background-color: #247CC0;
    border-radius: 10px;
    display: box;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 0%;
}

.barra_verde {
    background-color: #2EA265 !important;
}

.barra_roja {
    background-color: #DE3152 !important;
}


/* Color dependiendo la carga de la barra */

#filesform {
    margin: 1.5% 0;
    padding: 2%;
}

#barra_estado span {
    color: #fff;
    font-weight: bold;
    line-height: 25px;
}

#barra_estadoGmm span {
    color: #fff;
    font-weight: bold;
    line-height: 25px;
}

#barra_estadoVida span {
    color: #fff;
    font-weight: bold;
    line-height: 25px;
}

#barra_estadoOtros span {
    color: #fff;
    font-weight: bold;
    line-height: 25px;
}


/* Ocultar barra de progreso hasta que no cubra la funci¨®n programada */

.barraProgresoT {
    display: none;
}

.barraProgresoTGmm {
    display: none;
}

.barraProgresoTVida {
    display: none;
}

.barraProgresoTOtros {
    display: none;
}

.txtBt {
    text-align: center !important;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
}

input {
    outline: 0 none !important;
}