/* Td seccion gastos medicos */

#td_gmm_consultor {
    background-color: rgb(57 124 157);
    border: 2px solid #d0d0d0;
    border-style: none;
    transition: .2s ease;
    color: white;
    border-radius: 25px;
    width: 500.5px !important;
    border-radius: 50px;
}

#td_gmm_consultor:hover {
    background-color: #3e9ed0b8;
    box-shadow: 0 4px 16px rgb(57 124 157);
    transition: all 0.2s ease;
}


/* Td seccion vida */

#td_vida_consultor {
    background-color: rgb(70 157 74);
    border: 2px solid #d0d0d0;
    border-style: none;
    transition: .2s ease;
    color: white;
    border-radius: 25px;
    width: 333.6px !important;
    border-radius: 50px;
}

#td_vida_consultor:hover {
    background-color: #5cd042;
    box-shadow: 0 4px 16px rgb(70 157 74);
    transition: all 0.2s ease;
}


/* Td seccion siniestros */

#td_siniestros_consultor {
    background-color: rgb(193 186 68);
    border: 2px solid #d0d0d0;
    color: white;
    border-style: none;
    transition: .2s ease;
    border-radius: 25px;
    width: 333.6px !important;
    border-radius: 50px;
}

#td_siniestros_consultor:hover {
    background-color: #eae052;
    box-shadow: 0 4px 16px rgb(193 186 68);
    transition: all 0.2s ease;
}


/* Td seccion autos */

#td_autos_consultor {
    background-color: rgb(166 102 37);
    border: 2px solid #d0d0d0;
    border-style: none;
    transition: .2s ease;
    color: rgb(122, 122, 113) !important;
    border-radius: 25px;
    width: 333.6px !important;
    border-radius: 50px;
}

#td_autos_consultor:hover {
    background-color: #d7742a;
    box-shadow: 0 4px 16px rgb(166 102 37);
    transition: all 0.2s ease;
}


/* Td seccion digitalizacion cartera */

#td_digitalizacion_cartera {
    background-color: rgb(90 99 110);
    border: 2px solid #d0d0d0;
    border-style: none;
    transition: .2s ease;
    color: white;
    border-radius: 25px;
    outline: none;
    width: 504.6px !important;
    border-radius: 50px;
}

#td_digitalizacion_cartera:hover {
    background-color: #717c87;
    box-shadow: 0 4px 16px rgb(90 99 110);
    transition: all 0.2s ease;
}


/* Tamanio y centralizacion de la tabla */

table {
    margin: 0 auto !important;
    width: 1045px !important;
    margin-top: 20px !important;
}